/* Main App Background */
[data-testid="stAppViewContainer"] {
    background: #1B1931;
    color: #E9C8B9;
}

/* Content Area */
.main .block-container {
    color: #E9C8B9;
}

/* Sidebar */
[data-testid="stSidebar"] {
    background: #44174E;
}

/* Sidebar Text */
[data-testid="stSidebar"] * {
    color: white !important;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    color: #E9C8B9 !important;
}

/* Paragraphs */
p, label, div {
    color: #E9C8B9;
}

/* Input Boxes */
.stTextInput input {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
}
.stNumberInput input {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
}
div[data-baseweb="select"] > div {
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
}
/* Buttons */
div.stButton > button {
    background-color: #A34054;
    color: white !important;
    border-radius: 12px;
    border: none;
    font-weight: bold;
}
 /* =========================
   FIX INPUT TEXT COLOR ONLY
   (Prediction Page Fix)
   ========================= */

/* Number inputs (tenure, charges) */
.stNumberInput input {
    color: black !important;
    -webkit-text-fill-color: black !important;
    caret-color: black !important;
}

/* Selectbox text (gender, partner, dependents, senior citizen) */
div[data-baseweb="select"] * {
    color: black !important;
}

/* Selected value inside selectbox */
div[data-baseweb="select"] {
    color: black !important;
}

/* Dropdown options */
div[data-baseweb="popover"] * {
    color: black !important;
}

/* Fix weird yellow/auto focus override */
input:focus {
    color: black !important;
    -webkit-text-fill-color: black !important;
}
div.stButton > button:hover {
    background-color: #ED9E59;
    color: #1B1931 !important;
}

/* Metric Cards */
[data-testid="metric-container"] {
    background-color: #662249;
    border-radius: 15px;
    padding: 15px;
}
[data-testid="metric-container"] {
    background: #44174E;
    border: 2px solid #ED9E59;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

[data-testid="metric-container"] * {
    color: white !important;
}